LOG_LEVEL='warn'
LISTEN_ADDR='0.0.0.0:8042'
SHARDING_IDX=0
ED25519_PUBKEYS='WYSeJAt***M9Y38='
AWS_ACCESS_KEY_ID='AKI***IIF'
AWS_SECRET_ACCESS_KEY='L0MZUn***zjWJN'
AWS_BUCKET='anda-***'
AWS_REGION='ap-***'
MANAGERS='3jag6-tmab5-***-xelhd-cqe'
MODEL_FAMILY='gemini'
MODEL_API_BASE='https://generativelanguage.googleapis.com/v1beta/models'
MODEL_API_KEY='AIzaSyC***5N9hk'
MODEL_NAME='gemini-3-flash-preview'